# instance data storage
/data

# compiled frontend (this will be added later to releases)
/frontend_build

# vscode files
/.vscode

# acme.sh temp folder
/scripts/linux/acme.sh/temp

# temporary debug files
__debug*
