# This file contains default values the server sets if values are not specified
# in the config file.

# Initial login credentials:
# username: admin
# password: password

'config_version': -1

'bind_address': ''
'https_port': 4055
'http_port': 4050

'enable_http_redirect': true
'log_level': 'info'
'serve_frontend': true
'cors_permitted_origins': null

'certificate_name': 'legocerthub'

'dev_mode': false
'enable_pprof': false
'pprof_port': 4065

'updater':
  'auto_check': true
  'channel': 'beta'

'orders':
  'auto_order_enable': true
  'valid_remaining_days_threshold': 40
  'refresh_time_hour': 3
  'refresh_time_minute': 12

'challenges':
  'dns_checker':
    'skip_check_wait_seconds': null
    'dns_services':
      - 'primary_ip': '1.1.1.1'
        'secondary_ip': '1.0.0.1'
      - 'primary_ip': '9.9.9.9'
        'secondary_ip': '149.112.112.112'
      - 'primary_ip': '8.8.8.8'
        'secondary_ip': '8.8.4.4'
  'providers':
    # If any provider is configured, the default will not be
    'http_01_internal':
      - 'domains':
          - '*'
        'port': 4060
