[Unit]
Description=Cert Warden

[Service]
Type=simple
User=certwarden
Restart=always
RestartSec=5s
WorkingDirectory=/opt/certwarden
ExecStart=/opt/certwarden/certwarden

[Install]
WantedBy=multi-user.target
